[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
tavily-python = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
langchain-core = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
